<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>CryptRoWallet</title>
    </head>
    <body>
    <form th:action="@{/login}" method="POST" class="form-signin">
        <header>
            <div class="ui grid container centered">
                <div class="five wide column middle aligned">
                    <a href="#">
                        <img src="images/logo-web.png" alt="Logo">
                    </a>
                </div>
            </div>
        </header>
        <div class="ui grid container centered">
            <div class="seven wide column">
                <div class="box">
                    <h1>Login</h1>
                    <span class="line"></span>
                    <form class="ui form" action="">
                        <div class="field">
                            <label>Email</label>
                            <div class="ui icon input fluid">
                                <input type="email" name="email" placeholder="example@email.com">
                                <i class="envelope icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui icon input fluid">
                                <input type="password" name="password" placeholder="Your password">
                                <i class="shield icon"></i>
                            </div>
                        </div>
                        <div class="actions">
                            <div></div>
                            <button class="primary-button">Login</button>
                        </div>
                    </form>
                </div>
                <a class="link-button" href="registration.html">Don't have an account? Register now!</a>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </body>
</html>