<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<!--        <link rel="stylesheet" href="static/css/style.scss">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>CryptRoWallet</title>
    </head>
    <body>
        <header>
            <div class="ui grid container centered">
                <div class="five wide column middle aligned">
                    <a href="#">
                        <img th:src="@{/images/logo-web.png}" alt="Logo">
                    </a>
                </div>
            </div>
        </header>
        
        <div class="ui grid container centered">
            <div class="seven wide column">
                <div class="box">
                    <form autocomplete="off" action="#" th:action="@{/registration}"
                          th:object="${user}" method="post" class="form-horizontal"
                          role="form">
                    <h1>Register</h1>
                    <span class="line"></span>
                    <form class="ui form" action="">
                        <div class="field">
                            <label>Name</label>
                            <div class="ui icon input fluid">
                                    <input type="text" th:field="*{name}" placeholder="Name" required
                                           class="form-control"/>
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <div class="ui icon input fluid">
                                    <input type="text" th:field="*{lastName}" required
                                           placeholder="Last Name" class="form-control"/>
                                <i class="user icon"></i>
                            </div>
                        </div>

                        <form class="ui form" action="">
                            <div class="field">
                                <label>Username</label>
                                <div class="ui icon input fluid">
                                    <input type="text" minlength="5" th:field="*{userName}" placeholder="User Name"
                                           class="form-control" required/>
                                    <i class="icon-terminal on icon-sign-blank"></i>
                                </div>
                            </div>

                        <div class="field">
                            <label>Email</label>
                            <div class="ui icon input fluid">
                                    <input type="text" th:field="*{email}" required placeholder="example@email.com"
                                           class="form-control"/>
                                <i class="envelope icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui icon input fluid">
                                    <input type="password" th:field="*{password}" required
                                           placeholder="Your password" class="form-control"/>
                                <i class="shield icon"></i>
                            </div>
                        </div>
                        <div class="actions">
                            <div></div>
                            <button class="primary-button">Register</button>
                        </div>
                    </form>
                </div>
                <a class="link-button" href="login.html">Have an account? Login now!</a>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </body>
</html>